:root {
    --base: rgb(255, 255, 255);
    --accent: rgb(255, 102, 94);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -webkit-appearance: none;
}

h1 {
    text-align: center;
    padding: 1em;
    background-color: var(--base);
}

.tag-list {
    text-align: left;
    padding: 1em;
    padding-left: 2em;
    background-color: var(--base);
    overflow: scroll;
    white-space: nowrap;
}

.tag-label {
    font-weight: bold;
    padding-right: 0.25em;
}

.tag {
    color: var(--accent);
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    background-color: var(--base);
    border: 2px solid var(--accent);
    border-radius: 20px;
}

.tag.active {
    background-color: var(--accent);
    color: var(--base);
}
.tag:hover {
    cursor: pointer;
}

.food-item {
    display: flex;
    margin: auto;
    margin-bottom: 2em;
    width: 90vw;
    min-height: 33vw;
    border-radius: 12px;
    background-color: rgb(240,240,240);
}

.food-item img {
    width: 33vw;
    display: inline;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
}

.food-desc {
    width: 67vw;
    padding: 0.67em;
    padding-left: 1.33em;
    padding-right: 1.33em;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.food-name {
    font-weight: bold;
    font-size: 18px;
}

.food-tags {
    color: rgb(140, 140, 140);
    font-size: 13px;
    font-style: italic;
}

.food-time {
    color: rgb(100, 100, 100);
    font-size: 14px;
}

.food-ingredients {
    font-size: 15px;
}